# EditorConfig - maintain consistent coding styles across editors
# See: https://editorconfig.org/

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = off

# TOML (Hugo configuration)
[*.toml]
indent_style = space
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_style = space
indent_size = 2

# CSS
[*.css]
indent_style = space
indent_size = 2

# JavaScript
[*.{js,mjs}]
indent_style = space
indent_size = 2
